.h5{
    font-style: italic;
    color: gray;
    margin-left: 40px;
}
.input{
    margin-left: 37px;
}
.error{
    color: red;
    margin-left: 40px;
}
.imagelogo{
    width: 300px;
    height: 300px;
}